In [36]:
import pandas as pd
import os
import sys

In [37]:
#consulta original
palabra = ['SELECT',
 'emp.ename',
 'FROM',
 'emp,',
 'asg,',
 'proj',
 'WHERE',
 'emp.eno=asg.eno',
 'AND',
 'asg.pno=proj.pno',
 'AND',
 "proj.pname='cad/cam'"]

In [38]:
def imprimir(pila):
    temp = pila
    while not temp.isEmpty():
        print temp.pop()

In [39]:
class Stack:
     def __init__(self):
         self.items = []

     def isEmpty(self):
         return self.items == []

     def push(self, item):
         self.items.append(item)

     def pop(self):
        """ Devuelve el elemento tope y lo elimina de la pila.
            Si la pila esta vacia levanta excepci√≥n"""
        try:
         return self.items.pop()
        except IndexError:
            raise ValueError("LA PILA ESTA VACIA")
     def peek(self):
         return self.items[len(self.items)-1]

     def size(self):
         return len(self.items)

In [40]:
#llenas la pila con la consulta
def consulta(elementos):
    resultado = None
    p = Stack()
    m = Stack()
    for elemento in elementos:
        if elemento not in ["SELECT","FROM","WHERE","AND"]:
            p.push(elemento)
        elif elemento  in ["SELECT","FROM","WHERE","AND"]:
            next
    return p

In [134]:
#imprimir pila llena, con compia 'temp'
pila = consulta(palabra)

temp = pila
imprimir(temp)

proj.pname='cad/cam'
asg.pno=proj.pno
emp.eno=asg.eno
proj
asg,
emp,
emp.ename

In [114]:
#saca primer valor de la pila 

A = pila.pop().split(".")
print A
(campo,valor) = A[1].split("=")

proj=pd.read_csv(A[0]+'.csv',index_col='pno')
jvar= proj[proj[campo].str.contains(valor)]

['proj', "pname='cad/cam'"]

In [135]:
#regresa valor 'p3'
llave = jvar.index.values[0]
llave

"'p3'"

In [116]:
#saca el segundo valor de la pila 

B = pila.pop().split(".")
print B

(campo,valor) = B[1].split("=")
print campo,valor
asg=pd.read_csv(B[0]+'.csv',index_col='eno')
asg

['asg', 'pno=proj', 'pno']
pno proj

      pno          resp   dur
eno
e1   'p1'     'Manager'  '12'
e2   'p1'     'Analyst'  '24'
e2   'p2'     'Analyst'   '6'
e3   'p3'  'Consultant'  '10'
e3   'p4'    'Enginner'  '48'
e4   'p2'  'Programmer'  '18'
e5   'p2'     'Manager'  '24'
e6   'p4'     'Manager'  '48'
e7   'p3'    'Enginner'  '36'
e8   'p3'     'Manager'  '40'

In [117]:
#nos reduce la tabla asg a los valores que coinciden con la llave

print campo,valor
gvar = asg[asg[campo].str.contains(llave)]
gvar

pno proj

      pno          resp   dur
eno
e3   'p3'  'Consultant'  '10'
e7   'p3'    'Enginner'  '36'
e8   'p3'     'Manager'  '40'

In [130]:
#valores sin dependencia de otras tablas en una lista
keys = gvar.index.values 
keys

array(['e3', 'e7', 'e8'], dtype=object)

In [131]:
#cargar tabla emp
emp=pd.read_csv('emp.csv',delimiter=',')

In [132]:
#escribir la consulta de dependencia simple
for i in keys:
    a = emp.loc[emp['eno'] == i]
    print "Select ename from emp where eno=",i
    print a

Select ename from emp where eno= e3
  eno     ename         title
2  e3  'A. Lee'  'Mech. Eng.'
Select ename from emp where eno= e7
  eno       ename         title
6  e7  'R. Davis'  'Mech. Eng.'
Select ename from emp where eno= e8
  eno       ename          title
7  e8  'J. Jones'  'Syst. Anal.'